<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LogIn</title>
   <%- include('./Component/cssScript') %>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
  <body>

    
    <div class="container form">
        <div class="row justify-content-around mt-5 pb-3">
            <% if (locals.error) { %>
                <div class="container mt-2 mb-2">
                  <div class="alert alert-danger" role="alert"><%= locals.error %></div>
                </div>
                <% } %>
            <div class="col-md-5 mb-4">
                <img src="/logo.png" class="img-fluid" alt="not Found">
            </div>
            <div class="col-md-5 ">
                <form action="/users/login" method="post">
                <h5>Enter Your Username</h5>
                <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <h5>Enter Your Password</h5>
                            <div class="input-group mb-3">
                        
                        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                        </div>


                <div class="row ">
                    <div class="col-lg-8 col-8 tex">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            <p class="bol">Remeber me</p>
                        </label>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary but">Log in</button>
                    </div>
                </div>
            </form>
            <form action="/users/resister" method="get">
                <div class="row justify-content-center mt-4">
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary but bg-success" >create new Account</button>
                    </div>
                </div>
            </form>
                
            </div>
            


        </div>
    </div>
   
    
        
    <%- include('./Component/javaScript') %>
    </body>
</html>
