<footer class="bg-dark text-white footer">
  <div class="container-fluid">
  <div class="row pt-5 pb-5 justify-content-center">    
    <div class="col-1 ">
      <h5><i class="bi bi-instagram"></i></h5>
    </div>
    <div class="col-1 ">
      <h5><i class="bi bi-facebook"></i></h5>
    </div>
    <div class="col-1 ">
      <h5><i class="bi bi-whatsapp"></i></h5>  
      </div>
    <div class="col-1 ">
      <h5><i class="bi bi-messenger"></i></h5>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">

      <!-- <div class="text-center"> -->
    
        <h3> <i class="bi bi-c-circle"></i>Copyright All Rights Reserves</h3>
      </div>
      <!-- </div> -->
    </div>
  </div>

</footer>
  
 